# vim
*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.rej
*.vi
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace

# Folders to ignore
.hg
.svn
.CVS
.idea

# node.js
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
